<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Recipient</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header class="site-header">

<div class="brand">
    <img src="{{ url_for('static',filename='images/MJCA_LOGO_TRANSPARENT.png') }}" alt="MJCA Logo">
    <h1> Add a Recipient</h1>
</div>
    <nav>
        <a href="/">Home</a>
        <a href="/history">Message History</a>
        <a href="/manage">Manage Recipients</a>
        <a href="/add">Add Recipient</a>
        <a href="/logout">Logout</a>
    </nav>
</header>

<form method="POST">
    <label>Name (first and last):</label>
    <input type="text" name="name" required>

    <br><br>

    <label>Type:</label>
    <select name="recipient_type">

        <option value="Substitute">
            Substitute
        </option>
        <option value="Teacher">
            Teacher
        </option>
    </select>

    <br><br>

    <label>Department:</label>
    <input type="text" name="department">

    <br><br>

    <label>Phone:</label>
    <input type="text" name="phone" required>

    <br><br>

    <button type="Submit">
        Save Recipient
    </button>

</form>

</body>
</html>