<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Message History</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

<header class="site-header">

<div class="brand">
    <img src="{{ url_for('static',filename='images/MJCA_LOGO_TRANSPARENT.png') }}" alt="MJCA Logo">
    <h1> History</h1>
</div>
    <nav>
        <a href="/">Home</a>
        <a href="/archive">Message Archive</a>
        <a href="/manage">Manage Recipients</a>
        <a href="/add">Add Recipient</a>
        <a href="/logout">Logout</a>
    </nav>
</header>
<hr>
{% for message in messages %}
    <h2>{{ message.created_at.strftime("%B %d, %Y   %I:%M %p") }}</h2>
    <p>{{ message.body }}</p>


<button type="button" class="details-button">
    ▶ Details
</button>

<div class="message-details" style="display: none;">
    <h3>Recipients:</h3>
    <ul>
    {% for mr in message.recipients %}
        <li>
            {{ mr.recipient.name }}
        </li>
    {% endfor %}
    </ul>
    <h3>Replies:</h3>

    {% if message.replies %}
    <ul>
        {% for reply in message.replies %}
        <li>
            <strong>
                {{ reply.recipient.name }}</strong>
            -
            {{ reply.received_at.strftime("%I:%M %p") }}

            <br>
            {{ reply.body }}
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p> No replies yet.</p>

    {% endif %}

</div>
<form action="/archive-message/{{ message.id }}" method="POST">
    <button type="submit">
        Archive
    </button>
</form>
   <hr>
{% endfor %}
<script>

const detailButtons = document.querySelectorAll(".details-button");

detailButtons.forEach(button => {

    button.addEventListener("click", function() {

        const details = this.nextElementSibling;

        if (details.style.display === "none") {
            details.style.display = "block";
            this.textContent = "▼ Details";
        } else {
            details.style.display = "none";
            this.textContent = "▶ Details";
        }

    });

});

</script>
</body>
</html>