<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Employees</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

<header class="site-header">

<div class="brand">
    <img src="{{ url_for('static',filename='images/MJCA_LOGO_TRANSPARENT.png') }}" alt="MJCA Logo">
    <h1> Edit recipient</h1>
</div>
    <nav>
        <a href="/">Home</a>
        <a href="/history">Message History</a>
        <a href="/manage">Manage Recipients</a>
        <a href="/add">Add Recipient</a>
    </nav>
</header>
<p>Active count: {{ active_recipients|length }}</p>
<table>
<tr>
    <th>Name</th>
    <th>Type</th>
    <th>Department</th>
    <th>Edit</th>
</tr>
{% for recipient in active_recipients %}
<tr>
    <td>{{ recipient.name }}</td>
    <td>{{ recipient.recipient_type }}</td>
    <td>{{ recipient.department }}</td>
    <td>
        <a href="/edit/{{ recipient.id }}">
            <button>Edit</button>
        </a>
    </td>
</tr>
{% endfor %}
</table>

<h1>Inactive Recipients</h1>
<p>Inactive count: {{ inactive_recipients|length }}</p>
<table>
<tr>
    <th>Name</th>
    <th>Type</th>
    <th>Department</th>
    <th>Edit</th>
</tr>
{% for recipient in inactive_recipients %}
<tr>
    <td>{{ recipient.name }}</td>
    <td>{{ recipient.recipient_type }}</td>
    <td>{{ recipient.department }}</td>
    <td>
        <a href="/edit/{{ recipient.id }}">
            <button>Edit</button>
        </a>
    </td>
</tr>
{% endfor %}
</table>

</body>
</html>
